@import '/../../../theme/sass/conf/conf';

.modal-buttons .btn {
  margin-right: 20px;
}

.modal-content {
  color: $dropdown-text;
  background-color:#4271ae;
}

.checkbox {
  display: inline-block;
  margin-bottom: -12px;
  margin-left: 12px;
  text-align: right;
}
